/*

File Name: style.css
Date: 
Class: ACE IN THE HOLE
Programmer: Alexandra Nitsche

*/


/* For mobile phones: */

@media only screen and (max-width: 599px) {
    header {
        background-color: #FF0000;
    }
    main p {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
        text-indent: 50px;
    }
    h2 {
        font-size: 1.5em;
        color: red;
        padding: 15px;
    }
    /*

Format the table on events page*/
    table {
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 15px;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 15px;
    }
    main dt {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
    }
    main dd {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
    }
    .welcome {
        margin: 50px;
        padding: 10px;
    }
    .welcome h2 {
        font-size: 1.5em;
        margin: 50px;
        padding: 10px;
    }
    /* CSS for hero image */
    #hero {
        display: none;
    }
    /*NAV- hide all links, except for the first one ("Home")*/
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: white;
        overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Add an active class to highlight the current page */
    .active {
        background-color: #FF0000;
        color: white;
    }
    /*NAV- hide all links, except for the first one ("Home")*/
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    /* NAV-display the links vertically instead of horizontally */
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    /* Add an active class to highlight the current page */
    .active {
        background-color: #FF0000;
        color: white;
    }
    section .intro h1 {
        background-color: black;
        color: red;
        text-align: center;
        padding: 30px;
    }
    body {
        background-color: white;
        color: black;
    }
    main {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top center;
    }
    footer {
        background-color: #FF0000;
        font-size: .70em;
        color: white;
        font-style: italic;
        text-align: center;
        padding: 10px;
        clear: both;
    }
}




/*TABLET STYLESHEET */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .intro {
        background-color: white;
        color: red;
        text-align: center;
    }
    header {
        background-color: #FF0000;
    }
    /*

Format the table on events page*/
    table {
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 15px;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 15px;
    }
    main dt {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
    }
    main dd {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
    }
    main p {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
        text-indent: 50px;
    }
    h2 {
        font-size: 1.5em;
        color: red;
        padding: 15px;
    }
    .welcome {
        margin: 50px;
        padding: 10px;
    }
    .welcome h2 {
        font-size: 1.5em;
        margin: 50px;
        padding: 10px;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: white;
        overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Add an active class to highlight the current page */
    .active {
        background-color: #FF0000;
        color: white;
    }
    /*NAV- hide all links, except for the first one ("Home")*/
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    /* NAV-display the links vertically instead of horizontally */
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    footer {
        background-color: #FF0000;
        color: white;
        font-size: .70em;
        font-style: italic;
        text-align: center;
        padding: 10px;
        clear: both;
    }
}


/*

DESKTOP STYLESHEET

The following CSS affects all screen sizes LARGER THAN 768px

*/

@media only screen and (min-width: 768px) {
    header {
        background-color: #FF0000;
        font-size: 2em;
    }
    h1 {
        font-size: 1.5em;
        color: black;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    /*

Format the table on events page*/
    table {
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 15px;
    }
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th,
    td {
        padding: 15px;
    }
    main dt {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
    }
    main dd {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
    }
    .welcome {
        margin: 30px;
        padding: 10px;
    }
    .welcome h2 {
        font-size: 2em;
        margin: 30px;
    }
    .welcome p {
        font-size: 1.5em;
        color: black;
        text-align: left;
        padding-left: 25px;
        padding-right: 25px;
    }
    main p {
        text-align: left;
        padding-left: 70px;
        padding-right: 70px;
        font-size: 1em;
        line-height: 1.5;
        text-indent: 50px;
    }
    h2 {
        font-size: 1.5em;
        color: red;
        padding: 15px;
    }
    main h2 {
        text-align: center;
    }
    /* CSS for hero image */
    #hero {
        width: 100%;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: white;
        overflow: hidden;
    }
    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    /* Hide the link that should open and close the topnav on small screens */
    nav .topnav .icon {
        display: none;
    }
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Add an active class to highlight the current page */
    .active {
        background-color: #ddd;
        color: white;
    }
    body {
        box-sizing: border-box;
    }
    /* create three equal columns */
    .column {
        box-sizing: border-box;
        float: left;
        width: 33.33%;
        padding: 10px;
        text-align: center;
    }
    .column h2 {
        padding: 10px;
        font-size: 1.4em;
    }
    .column p {
        text-align: center;
        padding: 10px;
        margin-bottom: 35px;
        font-size: 1.2em;
    }
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        box-sizing: border-box;
        clear: both;
    }
    /* CSS for Register Button link */
    .intro h1 img {
        width: 12%;
    }
    .intro h1 {
        padding-top: 40px;
        font-size: 2em;
        color: red;
    }
    /* CSS for about section*/
    section h2 {
        text-align: center;
        color: red;
        font-size: 2em;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    section p {
        text-align: center;
        font-size: 1.5em;
        padding-bottom: 30px;
    }
    section .intro h1 {
        background-color: black;
        color: red;
        text-align: center;
    }
    .intro {
        width: 100%;
        background-color: black;
        color: red;
        text-align: center;
    }
    /* CSS for photo gallery */
    .gallery-photos img {
        width: 196px;
        height: auto;
        border: 2px solid purple;
    }
    .big-photo {
        float: right;
        background-color: #fff;
        border: 1px solid #e7e7e7;
        padding: 3px;
    }
    .big-photo img {
        float: left;
        width: 600px;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .thumbnail {
        float: left;
        width: 100%;
        border: 1px solid #e7e7e7;
    }
    .thumbnail img {
        float: left;
    }
    img {
        display: inline;
    }
    .photo-thumbnails {
        border: 3px px solid blue;
        width: 40%;
    }
    .photo-thumbnails img {
        float: left;
        margin: 2px;
    }
    .photo-thumbnails .thumbnail.current {
        opacity: 1;
        background-color: #fff;
    }
    #caption {
        text-align: center;
        font-style: italic;
    }
    .fb-page {
        width: 50%;
        padding-left: 70px;
    }
    .twitter-timeline {
        width: 50%;
        padding-right: 70px;
    }
    footer {
        background-color: #FF0000;
        color: white;
        font-size: .70em;
        font-style: italic;
        text-align: center;
        padding: 30px;
        clear: both;
    }
    section .wrapper {
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
        padding-right: 20px;
        padding-left: 20px;
    }
    section .wrapper p {
        text-align: left;
    }
}
