/*

File Name: templatestyles.css
Date: 
Class: ACE IN THE HOLE
Programmer: Alexandra Nitsche

*/


/* For mobile phones: */


    header {
        background-color: #FF0000;
    }

nav {
    background-color: black;
    text-align: center;
    font-size: 2em;
    padding: .70em;
    }

    body {
    
        background-color: #e0dccf;
    }
    main {
        padding-top: .70em;
        padding-bottom: .70em;
        float: right;
         width: 80%;
    }
    aside {
        display: block;
        width: 20%;
        padding: 1em;
    }
    footer {
        background-color: #FF0000;
        font-size: .70em;
        color: white;
        font-style: italic;
        text-align: center;
        padding: 10px;
        clear: both;
    }
}